*~
*.app
*.cache
*.dylib
*.lo
*.lo?
*.la
*.moc.cpp
*.o
*.so
*.trs
*.pc
*.vlt
*.class
*.dmg
.DS_Store
.deps
.libs
.dirstamp
ABOUT-NLS
aclocal.m4
ChangeLog
compile
config.status
config.h*
config.log
configure
doltcompile
doltlibtool
INSTALL.git
libtool
Makefile
Makefile.in
stamp-*
vlc
vlc.exe
qvlc
rvlc
svlc
cvlc
qvlc
mvlc
nvlc
wxvlc
vlc_install_dir/*
plugins.dat
patches/*

include/vlc/libvlc_version.h

# Ignore build dirs
build*
contrib-*
install-*


*.po

contrib/win32/config\.mak

contrib/win32/vlc-contrib-x86_64-w64-mingw32-latest\.tar\.bz2

modules/gui/qt/ui/extmetamanager\.ui\.autosave

doc-pak/

description-pak

vlc-extension_1-1_amd64\.deb

backup-061220171636-pre-vlc-extension\.tgz
